/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #dae0e6;
}

.angle_down {
  fill: #878a8c;
  height: 20px;
  width: 20px;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #edeff1;
  padding: 6px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_flex .reddit_logo img {
  width: 95px;
  height: 32px;
  padding: 0px 8px 0px 0;
}

.header .header_flex .drop_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 15px;
  width: 270px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #edeff1;
}

.header .header_flex .drop_down .space_ship_svg {
  color: #0079d3;
  fill: #0079d3;
  height: 22px;
  width: 22px;
}

.header .header_flex .drop_down .drop_down_title {
  margin-left: 10px;
  font-weight: 500;
  width: 70%;
  line-height: 18px;
}

.header .header_flex .drop_down:hover {
  border: 1px solid #edeff1;
}

.header .header_flex .search_box {
  width: 400px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_flex .search_box svg {
  fill: #878a8c;
  width: 23px;
  height: 23px;
  padding: 0 5px;
  position: relative;
  left: 35px;
}

.header .header_flex .search_box .search_input {
  border-radius: 4px;
  border: 1px solid #edeff1;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: 300;
  height: 40px;
  width: 100%;
  background-color: #f6f7f8;
  outline: none;
  padding: 0 16px 0 40px;
}

.header .header_flex .search_box .search_input::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
  font-family: "IBM Plex Sans", sans-serif;
}

.header .header_flex .search_box .search_input:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
  font-family: "IBM Plex Sans", sans-serif;
}

.header .header_flex .search_box .search_input::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
  font-family: "IBM Plex Sans", sans-serif;
}

.header .header_flex .search_box .search_input::placeholder {
  font-size: 1rem;
  font-weight: 300;
  font-family: "IBM Plex Sans", sans-serif;
}

.header .header_flex .search_box .search_input:focus {
  border-color: #0079d3;
  background-color: #fff;
}

.header .header_flex .icon_set_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 120px;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #edeff1;
}

.header .header_flex .icon_set_1 svg {
  border-radius: 2px;
  fill: #1a1a1b;
  height: 16px;
  line-height: 14px;
  padding: 8px;
  width: 16px;
}

.header .header_flex .icon_set_2 {
  border-right: none;
  margin-right: 0px;
}

.header .header_flex .coins_button .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #ddbd37;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 16px 9px 12px;
  border-radius: 9999px;
}

.header .header_flex .coins_button .button svg {
  fill: #ddbd37;
  width: 16px;
  margin-right: 4px;
}

.header .header_flex .coins_button .button span {
  color: #1c1c1c;
}

.header .header_flex .user_button {
  padding: 2px 12px;
  width: 180px;
  border-radius: 4px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_flex .user_button img {
  border-radius: 4px;
  margin-right: 5px;
  max-height: 28px;
  max-width: 28px;
}

.header .header_flex .user_button .user_box {
  display: block;
}

.header .header_flex .user_button .user_box .user_name {
  padding-right: 50px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #1c1c1c;
  display: block;
}

.header .header_flex .user_button .user_box .user_badge {
  color: #a8aaab;
  font-size: 12px;
  margin-top: 0px;
}

.header .header_flex .user_button .user_box .user_badge svg {
  margin-right: 1px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  fill: #ff4500;
}

.header .header_flex .user_button:hover {
  border: 1px solid #edeff1;
}

main .topic_container {
  display: none;
}

main .topic_container .color_strip {
  background: #ffc033;
  background-position: center top;
  height: 74px;
}

main .topic_container .topic_strip {
  background-color: #fff;
}

main .topic_container .topic_strip .topic_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 964px;
  margin: 0 auto;
  padding-bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .topic_container .topic_strip .topic_content .topic_image {
  margin-bottom: 12px;
  margin-top: -14px;
}

main .topic_container .topic_strip .topic_content .topic_image img {
  border-radius: 100%;
  border: 4px solid #fff;
  display: inline-block;
  height: 72px;
  width: 72px;
}

main .topic_container .topic_strip .topic_content .topic_name {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .topic_container .topic_strip .topic_content .topic_name .title {
  font-size: 2rem;
  font-weight: 700;
  color: #1c1c1c;
  text-transform: capitalize;
}

main .topic_container .topic_strip .topic_content .topic_name .sub_reddit_title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 18px;
  color: #7c7c7c;
}

main .topic_container .topic_strip .topic_content .join_button {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .topic_container .topic_strip .topic_content .join_button .button {
  margin-top: 14px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  text-transform: uppercase;
  padding: 4px 9px 2px;
  width: 100%;
  border: 1px solid #cc8b00;
  color: #cc8b00;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  height: 32px;
  width: 96px;
}

main .post_padding {
  padding: 20px 24px;
}

main .post_container {
  width: 640px;
  margin: 0 auto;
}

main .create_post {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  padding: 8px;
  display: none;
}

main .create_post input {
  background-color: #f6f7f8;
  border-radius: 4px;
  border: 1px solid #edeff1;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1c1c1c;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 38px;
  margin-right: 8px;
  outline: none;
  padding: 0 16px;
}

main .create_post input::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.6px;
}

main .create_post input:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.6px;
}

main .create_post input::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.6px;
}

main .create_post input::placeholder {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.6px;
}

main .create_post input:focus {
  border-color: #0079d3;
}

main .create_post svg {
  padding: 9px;
  fill: #878a8c;
  height: 20px;
  width: 20px;
}

main .articles {
  max-height: 270px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #a8aaab;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .articles .col-1 {
  border-radius: 4px;
  background-color: #f5f5f5f6;
  padding: 12px 15px 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .articles .col-1 .up_arrow svg {
  height: 20px;
  width: 20px;
}

main .articles .col-1 .votes_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  margin: 6px 0;
}

main .articles .col-1 .down_arrow svg {
  height: 20px;
  width: 20px;
}

main .articles .col-2 {
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding-top: 8px;
  padding-bottom: 8px;
}

main .articles .col-2 .post_title {
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #222;
  padding: 0 10px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 22px;
}

main .articles .col-2 .post_url {
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  padding: 0 10px;
  padding-top: 10px;
  color: #cc8b00;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 22px;
}

main .articles .col-2 .post_description {
  padding-top: 15px;
  color: #2c2c2c;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.5rem;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 10px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #000), to(transparent));
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #000), to(transparent));
          mask-image: linear-gradient(180deg, #000 60%, transparent);
}

main .articles .col-2 .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .articles .col-2 .footer .post_footer {
  padding-top: 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  /* align-items: center; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .articles .col-2 .footer .post_footer span {
  padding-right: 10px;
  color: #888;
}

main .articles .col-2 .footer .post_footer span img {
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}
/*# sourceMappingURL=style.css.map */