/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// Custom CSS ----------------------------

// Header ======
html {
	font-size: 14px;
}
body {
	font-family: "IBM Plex Sans", sans-serif;

	background-color: #dae0e6;
}
.angle_down {
	fill: #878a8c;
	height: 20px;
	width: 20px;
}
.header {
	background-color: #fff;
	border-bottom: 1px solid rgb(237, 239, 241);
	padding: 6px 20px;
	box-sizing: border-box;

	.header_flex {
		display: flex;
		align-items: center;
		.reddit_logo {
			// width: 18%;
			img {
				width: 95px;
				height: 32px;
				padding: 0px 8px 0px 0;
			}
		}
		.drop_down {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin-left: 15px;
			width: 270px;
			height: 40px;
			border-radius: 4px;
			border: 1px solid transparent;
			box-sizing: border-box;
			border: 1px solid #edeff1;
			.space_ship_svg {
				color: #0079d3;
				fill: #0079d3;
				height: 22px;
				width: 22px;
			}
			.drop_down_title {
				margin-left: 10px;
				font-weight: 500;
				width: 70%;
				line-height: 18px;
			}
		}
		.drop_down:hover {
			border: 1px solid #edeff1;
		}
		.search_box {
			width: 400px;
			padding: 0 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				fill: #878a8c;
				width: 23px;
				height: 23px;
				padding: 0 5px;
				position: relative;
				left: 35px;
			}
			.search_input {
				border-radius: 4px;
				border: 1px solid #edeff1;
				box-shadow: none;
				color: #1c1c1c;
				font-size: 1rem;
				font-weight: 300;
				height: 40px;
				width: 100%;
				background-color: #f6f7f8;
				outline: none;
				padding: 0 16px 0 40px;
			}
			.search_input::placeholder {
				font-size: 1rem;
				font-weight: 300;
				font-family: "IBM Plex Sans", sans-serif;
			}
			.search_input:focus {
				border-color: #0079d3;
				background-color: #fff;
			}
		}
		.icon_set_1 {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 120px;
			margin-right: 8px;
			padding-right: 8px;
			border-right: 1px solid #edeff1;
			svg {
				border-radius: 2px;
				fill: #1a1a1b;
				height: 16px;
				line-height: 14px;
				padding: 8px;
				width: 16px;
			}
		}
		.icon_set_2 {
			border-right: none;
			margin-right: 0px;
		}
		.coins_button {
			.button {
				display: flex;
				cursor: pointer;
				justify-content: space-evenly;
				border: 1px solid #ddbd37;
				align-items: center;
				padding: 9px 16px 9px 12px;
				border-radius: 9999px;

				svg {
					fill: #ddbd37;
					width: 16px;
					margin-right: 4px;
				}
				span {
					color: #1c1c1c;
				}
			}
		}
		.user_button {
			padding: 2px 12px;
			width: 180px;
			border-radius: 4px;
			margin-left: 8px;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			justify-content: space-between;
			// padding: 9px 16px 9px 12px;
			img {
				border-radius: 4px;
				margin-right: 5px;
				max-height: 28px;
				max-width: 28px;
			}
			.user_box {
				display: block;
				// width: 105px;
				// flex-direction: column;
				.user_name {
					padding-right: 50px;
					font-size: 12px;
					font-weight: 500;
					line-height: 20px;
					color: #1c1c1c;
					display: block;
				}
				.user_badge {
					color: #a8aaab;
					font-size: 12px;
					margin-top: 0px;
					svg {
						margin-right: 1px;
						width: 10px;
						height: 10px;
						vertical-align: middle;
						fill: #ff4500;
					}
				}
			}
		}
		.user_button:hover {
			border: 1px solid #edeff1;
		}
	}
}
main {
	.topic_container {
		display: none;
		// animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
		.color_strip {
			background: #ffc033;
			background-position: center top;
			height: 74px;
		}
		.topic_strip {
			background-color: #fff;
			.topic_content {
				display: flex;
				max-width: 964px;
				margin: 0 auto;
				padding-bottom: 0px;
				box-sizing: border-box;
				.topic_image {
					margin-bottom: 12px;
					margin-top: -14px;
					img {
						border-radius: 100%;
						border: 4px solid #fff;
						display: inline-block;
						height: 72px;
						width: 72px;
					}
				}
				.topic_name {
					margin-left: 20px;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					.title {
						font-size: 2rem;
						font-weight: 700;
						color: #1c1c1c;
						text-transform: capitalize;
					}
					.sub_reddit_title {
						font-size: 1rem;
						font-weight: 500;
						line-height: 18px;
						color: #7c7c7c;
					}
				}
				.join_button {
					margin-left: 20px;
					display: flex;
					align-items: flex-start;
					.button {
						margin-top: 14px;
						font-size: 0.8rem;
						font-weight: 700;
						letter-spacing: 0.5px;
						line-height: 1.6rem;
						text-transform: uppercase;
						padding: 4px 9px 2px;
						width: 100%;
						border: 1px solid #cc8b00;
						color: #cc8b00;
						border-radius: 4px;
						box-sizing: border-box;
						text-align: center;
						height: 32px;
						width: 96px;
					}
				}
			}
		}
	}
	.post_padding {
		padding: 20px 24px;
	}
	.post_container {
		width: 640px;
		margin: 0 auto;
	}
	.create_post {
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #ccc;
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		padding: 8px;
		input {
			background-color: #f6f7f8;
			border-radius: 4px;
			border: 1px solid #edeff1;
			box-shadow: none;
			box-sizing: border-box;
			color: #1c1c1c;
			display: block;
			flex-grow: 1;
			height: 38px;
			margin-right: 8px;
			outline: none;
			padding: 0 16px;
		}
		input::placeholder {
			font-size: 1rem;
			font-weight: 300;
			letter-spacing: 0.6px;
		}
		input:focus {
			border-color: #0079d3;
		}
		svg {
			padding: 9px;
			fill: #878a8c;
			height: 20px;
			width: 20px;
		}
	}
	.articles {
		height: 144px;
		display: flex;
		border-radius: 4px;
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid #a8aaab;
		box-sizing: border-box;
		.col-1 {
			border-radius: 4px;
			background-color: #f5f5f5f6;
			padding: 8px 15px 8px 15px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			.up_arrow {
				svg {
					height: 20px;
					width: 20px;
				}
			}
			.votes_count {
				font-size: 1rem;
				font-weight: 500;
				margin: 6px 0;
			}
			.down_arrow {
				svg {
					height: 20px;
					width: 20px;
				}
			}
		}
		.col-2 {
			padding: 0 10px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 95%;
			padding-top: 8px;
			.post_title {
				margin-top: 20px;
				color: #222;
				font-size: 1.3rem;
				font-weight: 500;
				line-height: 22px;
			}
			.post_description {
				margin-top: 15px;
				color: #1a1a1b;
				font-family: "Arial", sans-serif;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5rem;
				word-break: break-word;
				overflow: auto;
				padding-bottom: 1px;
				margin-bottom: -1px;
			}
		}
	}
}
