/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// Custom CSS ----------------------------

// Header ======
body {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 14px;
}
.header {
	background-color: #fff;
	border-bottom: 1px solid rgb(237, 239, 241);
	box-sizing: border-box;
	padding: 8px 20px;

	.header_flex {
		display: flex;
		align-items: center;
		.reddit_logo {
			// width: 18%;
			img {
				width: 100px;
				height: 32px;
				padding: 0px 8px 0px 0;
			}
		}
		.drop_down {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin-left: 15px;
			width: 270px;
			height: 40px;
			border-radius: 4px;
			border: 1px solid transparent;
			box-sizing: border-box;
			border: 1px solid #edeff1;
			.space_ship_svg {
				color: #0079d3;
				fill: #0079d3;
				height: 22px;
				width: 22px;
			}
			.drop_down_title {
				margin-left: 10px;
				font-weight: 500;
				width: 70%;
				line-height: 18px;
			}
			.angle_down {
				color: #fdc400;
				height: 20px;
				width: 20px;
			}
		}
		.drop_down:hover {
			border: 1px solid #edeff1;
		}
		.search_box {
			width: 400px;
			padding: 0 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				fill: #878a8c;
				width: 23px;
				height: 23px;
				padding: 0 5px;
				position: relative;
				left: 35px;
			}
			.search_input {
				border-radius: 4px;
				border: 1px solid #edeff1;
				box-shadow: none;
				color: #1c1c1c;
				font-size: 1rem;
				font-weight: 300;
				height: 40px;
				width: 100%;
				background-color: #f6f7f8;
				outline: none;
				padding: 0 16px 0 40px;
			}
			.search_input::placeholder {
				font-size: 1rem;
				font-weight: 300;
				font-family: "IBM Plex Sans", sans-serif;
			}
			.search_input:focus {
				border-color: #0079d3;
				background-color: #fff;
			}
		}
		.icon_set_1 {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 120px;
			margin-right: 8px;
			padding-right: 8px;
			border-right: 1px solid #edeff1;
			svg {
				border-radius: 2px;
				fill: #1a1a1b;
				height: 16px;
				line-height: 14px;
				padding: 8px;
				width: 16px;
			}
		}
		.icon_set_2 {
			border-right: none;
		}
	}
}
